@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

input {
  font-size: 16px;
  /* padding: 16px; */
  background: #e8edf2;
  color: #000;
  border-radius: 12px;
  border: 0;
  /* width: 100%; */
  width: -webkit-fill-available;
  margin-bottom: 12px;
  max-height: 56px;
  height: 56px;
  padding: 0 16px;
}

input::placeholder {
  color: #4f7396;
}

input:focus {
  outline: none;
}

button,
svg {
  cursor: pointer;
  border: 0;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.error {
  display: block;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  color: red;
}

/* Common Styles */
.header {
  text-align: left;
  padding: 16px 32px 0;
  border-bottom: 1px solid #e5e8eb;
}
.header .logo {
  width: 22px;
}
.welcome_layout {
  @apply pt-[60px];
}
.welcome_layout h2 {
  @apply text-[22px] font-bold leading-[27.5px] pb-[15px];
}
.form_layout {
  width: 512px;
  margin: auto;
}

/* Common Button */
.login_btn {
  @apply min-h-[40px] w-full text-sm leading-[21px] font-bold text-[#f7fafc] bg-[#1a80e5] mt-6 px-0 py-[9.5px] rounded-xl;
}

@media only screen and (max-width: 480px) {
  .form_layout {
    width: 100%;
    padding: 16px;
  }
}
